/*
    Charlie Banrhart
    "Seth" Dominic Jones-Jackson
    Vanessa Brinkman
    Randy Keaton
*/

html, body {
  margin: 0px;
  padding: 0px;
  background-color: #ad0000;
}

main {
  width: 80%;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
  border: 5px double #521e73;
}
